		*{
			margin: 0px auto;
		}
		body,html{
			width: 100%;
			height: 100%;
		}
		.pagewraper{
			width: 100;
			height: 100%;
			margin: 0px auto;
		}

		.menu,.topbar{
			width: 100%;
			min-height: 100px;
			text-align: right;
		}
		.menu ul,.topbar ul{
			margin-top: 10px;
			margin-right: 20px;
		}
		.menu ul>li,.topbar ul>li{
			list-style: none;
			display: inline-block;
			margin: 5px;

		}		
	.menu ul > li > a,.topbar ul > li > a {
	  background: #4584ef none repeat scroll 0 0;
	  border-radius: 2px;
	  color: #ffffff;
	  display: block;
	  font-size: 13px;
	  font-weight: 600;
	  padding: 7px 10px;
	  text-decoration: none;
	  text-transform: .5s;
	}	
	.menu ul > li >a:hover,.topbar ul > li >a:hover {
	  text-transform: .8s;
	  padding: 8px 11px;
	}
.maincontent {
	margin-top: 70px;
  width: 100%;
  height: calc(100% - 90px);
  text-align: center;
  vertical-align: middle;
}
.logo {
  color: #4584ef;
  font-size: 4em;
}
.control{
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding: 1px;
  width: 50%;
  box-shadow: 1px 3px 2px #eee;
  margin: 0 auto;
}
.control:hover {
  box-shadow: 2px 4px 4px #eee;
  text-transform: .7s;
}

.logo span {
  color: #1CA664;
}
.primaryInput {
border: medium none;
  border-radius: 3px;
  color: #787878;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  padding: 6px;
}

.advanceInput{
border: medium none;
  border-radius: 3px;
  color: #787878;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}
.advanceInput:hover{
 border: 1 ps solid #ddd;
 box-shadow: 2px 2px 2px #ddd;
 text-transform: .7s;

}
.submitbtn {
  border: medium none;
  border-radius: 3px;
  color: #787878;
  font-size: 15px;
  font-weight: 600;
  margin: 15px;
  padding: 9px 32px;
}
.submitbtn:hover{
 border: 1 ps solid #ddd;
 box-shadow: 2px 2px 2px #ddd;
 text-transform: .7s;

}
/*Error page*/
.error {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error h1 {
  color: red;
  font-size: 39px;
}
.error a {
color: #004d00;
text-decoration: none;

}

/*Search Page */
.searchItem {
  margin: 5px;
}
.searchItem ul> li{
  list-style: none;
}
.topInput {
  width: 60%;
  float: left;
  overflow: hidden;
}
.logo > a > img {
  border-radius: 3px;
  float: left;
  height: 48px;
  margin-top: 11px;
  width: 150px;
}
.searchTopInput {
  color: #787878;
  font-size: 15px;
  font-weight: 400;
  width: 70%;
  padding: 6px;
}
.searchSubmit {
  color: #787878;
  font-size: 15px;
  font-weight: 600;
  margin: 15px;
  padding: 5px 21px;
}
.searchSubmit:hover{
 border: 1 ps solid #ddd;
 box-shadow: 2px 2px 2px #ddd;
 text-transform: .7s;

}
/*========= Style for cv ===========*/
.cvWraper {
  color: #3a3a3a;
  border-left: 10px solid green;
  border-right: 10px solid green;
  font-size: 13px;
}
.cvTable {
  margin: 10px auto;
  background: #eee;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none;

}
.table > thead > tr.borderTop > th, .table > tbody > tr.borderTop > th, .table > tfoot > tr.borderTop > th,
 .table > thead > tr.borderTop > td, .table > tbody > tr.borderTop > td, .table > tfoot > tr.borderTop > td {
  border-top: 1px solid #000;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}.table > thead > tr.border > th, .table > tbody > tr.border > th,
 .table > tfoot > tr.border > th, .table > thead > tr.border > td, 
 .table > tbody > tr.border > td, .table > tfoot > tr.border > td {

border: 1px solid #000;

}
.cvTable h5 {
  font-weight: 700;
  margin: 1px;
  color: #4f4f4e;
}


.cvTitle{
 text-transform: uppercase;
}
 span{
  text-transform: lowercase;
}
/* vietnamese */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v8/DK0eTGXiZjN6yA8zAEyM2fRMc6C39aem-aUPzsV2c2w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v8/DK0eTGXiZjN6yA8zAEyM2e87R-l0-Xx_7cYc0ZX1ifE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v8/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.SignatureName{
  font-family: 'Dancing Script', cursive;
  margin-bottom: 1px;
  font-weight: 700;
}